<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {  
        $('#mailAuth').click(function() {
            var email = $("#email").val();
            $.ajax({
              url: '/users/new/sendMail',
              dataType: 'json',
              type: 'POST',
              data: {data:email},
              success: function(){
                alert("인증 메일을 전송했습니다.");
              },
              error: function(err){
                alert("인증 메일 전송을 실패했습니다");  
              
              }
            });
          });
      });    
         </script>

      <script type="text/javascript">
      $(document).ready(function() {  
        $('#authCode').click(function() {
            var code = $("#code").val();
            $.ajax({
              url: '/users/new/authCode',
              dataType: 'json',
              type: 'POST',
              data: {data:code},
              success: function(){
                alert("인증 코드가 일치합니다.");
              },
              error: function(err){
                alert("인증 코드를 다시 입력해 주세요.");
              }
            });
          });
      });    
         </script>       

    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
   

  

    <div class="container mb-3">

      <h3 class="contentBoxTop mb-3">회원가입</h3>

      <form action="/users" method="post">

        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">Username*</label>
          <div class="col-sm-9">
            <input type="text" id="username" name="username" value="<%= user.username %>" class="form-control <%= (errors.username)?'is-invalid':'' %>">
            <% if(errors.username){ %>
              <span class="invalid-feedback"><%= errors.username.message %></span>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">이름*</label>
          <div class="col-sm-9">
            <input type="text" id="name" name="name" value="<%= user.name %>" class="form-control <%= (errors.name)?'is-invalid':'' %>">
            <% if(errors.name){ %>
              <span class="invalid-feedback"><%= errors.name.message %></span>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <div class="input-group">
            <input type="text" id="email" name="email" value="<%= user.email %>" class="form-control <%= (errors.email)?'is-invalid':'' %>">
            <% if(errors.email){ %>
              <span class="invalid-feedback"><%= errors.email.message %></span>
            <% } %>
            <span class="input-group-btn">
              <button type="button" name="mailAuth" id="mailAuth" class="btn btn-primary">인증메일 보내기</button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="authCode" class="col-sm-3 col-form-label">인증코드*</label>
          <div class="col-sm-9">
            <div class="input-group">
            <input type="text" id="code" name="authCode" value="" class="form-control <%= (errors.authCode)?'is-invalid':'' %>">
          <span class="input-group-btn"></span>
          <button type="button" name="emailButton" id="authCode" class="btn btn-primary">인증코드 확인</button>
        </span>
          <% if(errors.authCode){ %>
          <span class="invalid-feedback"><%= errors.authCode.message %></span>
          <% } %>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">비밀번호*</label>
          <div class="col-sm-9">
            <input type="password" id="password" name="password" value="" class="form-control <%= (errors.password)?'is-invalid':'' %>">
            <% if(errors.password){ %>
              <span class="invalid-feedback"><%= errors.password.message %></span>
            <% } %>
          </div>
        </div>
        <div class="form-group row">
          <label for="passwordConfirmation" class="col-sm-3 col-form-label">비밀번호 확인*</label>
          <div class="col-sm-9 col-sm-offset-3">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="" class="form-control <%= (errors.passwordConfirmation)?'is-invalid':'' %>">
            <% if(errors.passwordConfirmation){ %>
              <span class="invalid-feedback"><%= errors.passwordConfirmation.message %></span>
            <% } %>
          </div>
        </div>
        <p>
          <small>*필수입력</small>
        </p>

        <% if(errors.unhandled){ %>
          <div class="alert alert-danger">
            <%= errors.unhandled %>
          </div>
        <% } %>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>

    </div>
  </body>
</html>
